
.user{
    margin:10px;
    width:500px;
    height:600px;
    position: relative;
    border-radius: 10px;
}
.user__container{
    width:100%;
    height:100%;
    align-items: center;
    background-color:beige;
    border-radius: 10px;
}
.profile-photo-inline{
    display:inline;
    position: absolute;
    top:240px;
    left:190px;
}
.user__container__profile-photo{
    width:120px;
    height:120px;
    border-radius: 60px;
    background-color: beige;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.profile{
    width:100px;
    height:100px;
    border-radius: 50px;
}

.user__container .user__container__bg{
    width:100%;
    height:50%;
    background-color: red;
}
.background{
    width:100%;
    height:100%;
}
.user__info .user__info__name{
    font-size:30px;
    font-weight:600;
    padding-top: 80px;
    text-align: center;
   
}
.user__info .user__info__job{
    opacity:0.6;
    text-align: center;
    padding-top:20px;
}

.user__container__btn{
    padding-top:50px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.btn{
    width:150px;
    height:50px;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.user__follow{
   background-color: #3489eb;
   color:white;
}
.user__message{
    background-color: #a6c0de;
    color:#3489eb;
}